In [6]:
#2
a=tuple([10,20,30])
b=10,20,30,False,'hello'
a
b

(10, 20, 30, False, 'hello')

In [2]:
print(range(10,31,10))

range(10, 31, 10)

In [1]:
list(range(10, 31, 10))

[10, 20, 30]

In [7]:
a(tuple(-10,10,3))

TypeError: tuple expected at most 1 argument, got 3

In [13]:
a = list(range(10, 31, 10))
a
a = tuple(range(-10, 10, 3))
a
a = range(-10, 10, 3)
a
print(a)
range(-10, 10, 3)

range(-10, 10, 3)

range(-10, 10, 3)

In [15]:
a=list(range(5,-10,-2))
print(a)

[5, 3, 1, -1, -3, -5, -7, -9]

In [2]:
a = ['연진','동은']
a.append('도영')
print(a)
a.remove('도영')
print(a)

['연진', '동은', '도영']
['연진', '동은']

In [3]:
a = ['연진','동은','도영']
a.insert(1,'현남')
print(a)

['연진', '현남', '동은', '도영']

In [4]:
a = ['연진', '동은']
b = ['재준', '혜정', '사라']
a.extend(b)
print(a)
print(b)

['연진', '동은', '재준', '혜정', '사라']
['재준', '혜정', '사라']

In [5]:
a = ['연진','동은']
b = ['재준','혜정','사라']
c = []
c.extend(a)
print(c) # ['연진','동은'] 출력
c.extend(b)
print(c) # ['연진', '동은', '재준', '혜정','사라'] 출력

['연진', '동은']
['연진', '동은', '재준', '혜정', '사라']

In [7]:
a = [3, 7, 4, 5, 6, 8]
print('리스트 a의 개수 즉 길이는 '+str(len(a)))
print('리스트 a의 숫자들의 평균은 '+str(sum(a)/len(a)))

리스트 a의 개수 즉 길이는 6
리스트 a의 숫자들의 평균은 5.5

In [33]:
a = [1,2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e']

b = a[:5]
print('b :',b)

c = a[5:]
print('c :',c)

d = a[4:6]
print('d :',d)

e = a[::2]
print('e :',e)

f = a[1::2]
print('f :',f)

b : [1, 2, 3, 4, 5]
c : ['a', 'b', 'c', 'd', 'e']
d : [5, 'a']
e : [1, 3, 5, 'b', 'd']
f : [2, 4, 'a', 'c', 'e']

In [31]:
a = ['바롬', '정은', '진환', '무성']
b = a[::-1]
print(b)

['무성', '진환', '정은', '바롬']

In [32]:
a = [['현남', 95], ['동은', 100], ['도영', 98]]
print(a[0][0],'학생의 시험 점수는', a[0][1])
print(a[1][0],'학생의 시험 점수는', a[1][1])
print(a[2][0],'학생의 시험 점수는', a[2][1])

현남 학생의 시험 점수는 95
동은 학생의 시험 점수는 100
도영 학생의 시험 점수는 98